@import '../variable/varable.scss';



.container-welcome{
    text-align: center;
    font-family: $time;
    h1{
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 92px;
        font-weight: 900;
    } 
    h2{
        font-size: 50px;
        text-transform: capitalize;
    }
    p{
        margin-top: 35px;
        font-family: $roboto;
        font-size: 25px;
        opacity: 0.7;
    }
}