@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

// * color 
$primaryColor : #32CCBC ;  
$secondaryColor: #90F7EC;
$liteColor: #90f7ed48;
$whitecolor :#fff;
$danger : rgba(255, 32, 32, 0.815);

// * font 
$roboto : 'Roboto', sans-serif;
$time: 'Rajdhani', sans-serif;

// * function 

